<head>
	<title>{{metadata.title}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<img class="logo" alt="THE OUTNET" title="THE OUTNET" src="//cache.theoutnet.com/hafton-live/874-795cce4/img/logo/logo.png" width="197" height="17">

	<!-- Used for demo -->
	<link type="text/css" rel="stylesheet" href="/styles/style.css"/>
</head>
