{{!< default}}
<div class="container">
  <h1 class="centre">THE ESSENTIALS BOUTIQUE</h1>
  <p class="centre">If you’re anything like us, 99.9% of your outfits will be a
  tried-and-tested rotation of wardrobe classics. These are
  the styles that need no introduction: the essentials that
  transcend time and trend. Could we live without them?
  Probably – but we wouldn’t want to try… </p>
</div>

<div class="pure-g tile-container">
  <div class="pure-u-1-2 pure-u-md-1-3 pad-box">
    <img src="images/1_The_White_Shirt.jpg" class="pure-img">
    <div class="over-image-text centre">The White Shirt</div>
  </div>
  <div class="pure-u-1-2 pure-u-md-1-3 pad-box">
    <img src="images/2_The_Leather_Jacket.jpg" class="pure-img">
    <div class="over-image-text centre">The Leather Jacket</div>
  </div>
  <div class="pure-u-1-2 pure-u-md-1-3 pad-box">
    <img src="images/3_The_Classic_Jean.jpg" class="pure-img">
    <div class="over-image-text centre">The Classic Jean</div>
  </div>
  <div class="pure-u-1-2 pure-u-md-1-3 pad-box">
    <img src="images/4_The_Tailored_Pant.jpg" class="pure-img">
    <div class="over-image-text centre">The Tailored Pant</div>
  </div>
  <div class="pure-u-1-2 pure-u-md-1-3 pad-box">
    <img src="images/5_The_LBD.jpg" class="pure-img">
    <div class="over-image-text centre">The LBD</div>
  </div>
  <div class="pure-u-1-2 pure-u-md-1-3 pad-box">
    <img src="images/6_The_Refined_Blazer.jpg" class="pure-img">
    <div class="over-image-text centre">The Refined Blazer</div>
  </div>
</div>


<h2 class="centre">The Styling Tweaks</h2>
<h5 class="centre">Right For Right Now: How We’re Styling The Essentials This Season</h5>
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-2">
    <h3 class="centre">THE SHIRT: SHRUG IT OFF</h3>
    <img src="images/07_Content_Block_Shirt.jpg" class="pure-img">
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="feature-text-container centre">
      <p>Heralded as fashion month’s unofficial wardrobe hero, the white shirt
        reigned supreme both on and off the runways, bringing with it a seemingly
        infinite number of styling tweaks – think every way except buttoned up!
        Our favorite hack shrugs it off the shoulders in a nod to portrait collars.</p>
        <button class="bottom-margin">Shop White Shirts</button>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <h3 class="centre">THE BLAZER: BELT UP</h3>
    <img src="images/08_Content_Block_Blazer.jpg" class="pure-img">
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="feature-text-container centre">
      <p>Riding on the coat tails of the season’s powershoulder trend, a belted
        blazer accentuates all the right proportions without going full-on ‘80s.
        Achieve a stylish cinch with logo-buckle or color-pop styles.</p>
        <button>Shop Blazers</button>
        <button class="bottom-margin">Shop Belts</button>
    </div>
  </div>

  <div class="pure-u-1 pure-u-md-1-2">
    <h3 class="centre">THE LBD: JUST ADD PANTS</h3>
    <img src="images/09_Content_Block_Pants.jpg" class="pure-img">
  </div>
  <div class="pure-u-1 pure-u-md-1-2">
    <div class="feature-text-container centre">
      <p>When the palette is simple, nothing smacks of sophistication like clever
         layering. Anchor a little black dress with little black pants – a kick flare
         pair feels perfect for right now – adding a lofty heel in the evening. </p>
        <button>Shop LBDs</button>
        <button>Shop Pants</button>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="centre YMAL-heading">You May Also Like</h2>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3 pad-box YMAL">
      <img src="images/10_YMAL_What_To_Wear.jpg" class="pure-img">
      <div class="bottom-heading centre">
        <h3>WHAT TO WEAR</h3>
        <h4>Everything you need to know about style right now</h4>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-3 pad-box YMAL">
      <img src="images/11_YMAL_Cashmere.jpg" class="pure-img">
      <div class="bottom-heading centre">
        <h3>THE CASHMERE BOUTIQUE</h3>
        <h4>Everything you need to know about cashmere</h4>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-3 pad-box YMAL">
      <img src="images/12_YMAL_Denim.jpg" class="pure-img">
      <div class="bottom-heading centre">
        <h3>THE DENIM BOUTIQUE</h3>
        <h4>Get set to find the jeans of your dreams</h4>
      </div>
    </div>
  </div>
</div>
