{{!< default}}

<div class="container">
  <h1 class="centre">THE ESSENTIALS BOUTIQUE</h1>
  <p class="centre">If you’re anything like us, 99.9% of your outfits will be a
  tried-and-tested rotation of wardrobe classics. These are
  the styles that need no introduction: the essentials that
  transcend time and trend. Could we live without them?
  Probably – but we wouldn’t want to try… </p>
</div>

<!--Do REMOVE the above code before you start buiding the campaign here-->
